body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url();
    height: 100vh;
    background-color: cover;
    background-position: center;
}

.login-page{
    width: 360px;
    padding: 30% 0 0;
    margin: auto;
}

.form{
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.font input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    margin: 0 0 17px;
    padding: 15px;
    font-size: 15px;
}

.form button{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    outline: 10;
    width: 200px;
    border: 0;
    padding: 10px;
    color: black;
}