@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'zen loop', sans-serif;
}
body{
    display: flex;
    height:  100vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container{
    max-width: 900px;
    width: 200%;
    background: #fff;
    padding:  80px 40px;
    border-radius: 10px;
}
.container .title{
    font-size: 45px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user-details .input-box{
    margin: 20px 0 32px 0;
    width: calc(100% / 2 - 30px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    border: 2px solid #ccc;
    padding-left: 25px;
    font-size: 20px;
}
form .button input{
    height: 400%;
    width: 100%;
    outline: none;
    color: white;
    border: none;
    font-size: 40px;
    font-weight: 600;
    border-radius: 15px;
    letter-spacing: 4px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
form .button input:hover{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
@media (max-width: 584px) {
    .container{
        max-width: 700px;
    }
    form .user-details .input-box{
        margin: 15px;
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0,;
    }
}