*{
    margin: 0px;
    padding: 0px;
}

.bgimage{
    background-image: url(1k.jpg);
    background-size: 100% 110%;
    width: 100%;
    height: 100vh;
}

.menu{
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,0.5);
}

.leftmenu{
    width: 20%;
    line-height: 100px;
    float: left;
}

.leftmenu h4{
    padding-left: 70px;
    font-weight: bold;
    color: white;
    font-size: 30px;
    font-family: 'zen loop', sans-serif;
}

.rightmenu{
    width: 70%;
    height: 100px;
    float: right;

}

.rightmenu ul{
    margin-left: 1200px;
}

.rightmenu ul a{
    font-family: 'zen loop', sans-serif;
    display: inline-block;
    list-style: none;
    font-size: 30px;
    font-weight: bold;
    line-height: 100px;
    color: white;
    margin-left: 30px;
    text-transform: uppercase;
}

.rightmenu ul a:hover{
    color: orange;
}

.text{
    width: 100%;
    margin-top: 400px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.text h4{
    font-size: 36px;
    font-family: 'zen loop', sans-serif;
}

.text h1{
    font-size: 80px;
    font-family: 'zen loop', sans-serif;
    font-weight: 700px;
}

.text h3{
    font-size: 40px;
    font-family: 'zen loop', sans-serif;
}

#buttonone{
    background-color: transparent;
    border: none;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 70px;
    width: 170px;
    font-family: 'zen loop', sans-serif;
    margin-top: 30px;
    border: 3px white;
    color: white;
}

#buttontwo{
    background-color: transparent;
    border: none;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 70px;
    width: 170px;
    font-family: 'zen loop', sans-serif;
    margin-top: 30px;
    border: 3px white;
    color: white;
}